.reverse-theme {
  color: $color-font-secondary;
  button {
    @include setBtnColors($reverse: true);
  }
}

.char-display {
  form {
    width: 205px;
    margin: 0 auto;
  }
  button {
    margin: 2px;
  }
}

.highlight {
  color: $color-font-highlight;
  font-size: $font-large;
}
