<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Star Trek vs. Star Wars</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body data-ng-app="scifiApp">
    <header>
      <h1>Star Trek vs. Star Wars</h1>
      <p>The Star Trek and Star Wars universes collide! Who will prevail?</p>
    </header>
    <main>
      <section
        id="star-trek"
        class="char-display reverse-theme"
        data-ng-controller="StarTrekCtrl as startrekctrl"
        data-ng-init="startrekctrl.getChars()">
        <h2>Star Trek</h2>
        <p class="highlight">Wins: {{ startrekctrl.counter.countOne }}</p>
        <h3>Add A Character:</h3>

        <star-trek-form
          id="st-create-form"
          class="char-form"
          data-char="startrekctrl.newChar"
          data-button-text="Create"
          data-crud-action="create">
        </star-trek-form>

        <h3>Your Collection:</h3>
        <ul id="st-char-list">

          <star-trek-list-item data-ng-repeat="char in startrekctrl.chars" data-char="char">

            <star-trek-form
              class="char-form"
              data-ng-if="char.editing"
              data-char="char"
              data-button-text="Update"
              data-crud-action="update">
              <button data-ng-click="startrekctrl.resetChar(char)">Cancel</button>
            </star-trek-form>

          </star-trek-list-item>

        </ul>
        <ul class="errors">

          <error-list-item data-ng-repeat="error in startrekctrl.errors" data-error="error">
          </error-list-item>

        </ul>
      </section>

      <section
        id="star-wars"
        class="char-display reverse-theme"
        data-ng-controller="StarWarsCtrl as starwarsctrl"
        data-ng-init="starwarsctrl.getChars()">
        <h2>Star Wars</h2>
        <p class="highlight">Wins: {{ starwarsctrl.counter.countTwo }}</p>
        <h3>Add A Character:</h3>

        <star-wars-form
          id="sw-create-form"
          class="char-form"
          data-char="starwarsctrl.newChar"
          data-button-text="Create"
          data-crud-action="create">
        </star-wars-form>

        <h3>Your Collection:</h3>
        <ul>

          <star-wars-list-item data-ng-repeat="char in starwarsctrl.chars" data-char="char">

            <star-wars-form
              class="char-form"
              data-ng-if="char.editing"
              data-char="char"
              data-button-text="Update"
              data-crud-action="update">
              <button data-ng-click="starwarsctrl.resetChar(char)">Cancel</button>
            </star-wars-form>

          </star-wars-list-item>

        </ul>
        <ul class="errors">

          <error-list-item data-ng-repeat="error in starwarsctrl.errors" data-error="error">
          </error-list-item>

        </ul>
      </section>
      <section
        id="battle"
        data-ng-controller="BattleCtrl as battlectrl">
        <h2>Battle Your Characters:</h2>
        <p>{{ battlectrl.result }}</p>
        <ul class="errors">

          <error-list-item data-ng-repeat="error in battlectrl.errors" data-error="error">
          </error-list-item>

        </ul>
        <button id="fight" data-ng-click="battlectrl.battle()">Fight!</button>
      </section>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
