// ***** Typography *****
$font-primary: "Futura", sans-serif;
$font-secondary: "Copperplate", sans-serif;

$font-normal: 1em;
$font-large: $font-normal * 1.5;

// ***** Colors *****
$color-theme: #F3FFE2;
$color-background: #EB7F00;
$color-offset: #ACF0F2;
$color-highlight: #1695A3;
$color-accent: #225378;
$color-font-primary: black;
$color-font-secondary: white;
