body {
  font-family: $font-secondary;
  font-size: $font-normal;
  text-align: center;
  @include colors($color-theme, $color-font-primary);
}

section {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  text-decoration: underline;
}

label {
  display: block;
  text-align: right;
}

input {
  border: 1px solid;
  text-align: center;
}

button {
  padding: 0.2em 0.5em;
  border-radius: 7px;
  font-family: $font-primary;
  @include colors($color-accent, $color-font-secondary, $color-accent);
}

button:hover {
  cursor: pointer;
  transition: background-color 0.1s;
  @include colors($color-offset, $color-font-primary, $color-offset);
}

button:active {
  background-color: darken($color-offset, 15%);
  transition-duration: 0s;
}
